/* 重置默认样式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 设置整个页面的基本样式 */
html, body {
    height: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; /* 背景颜色 */
}

/* 容器样式 */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* 菜单栏样式 */
header {
    width: 100%;
    margin-bottom: 20px;
}

.menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.menu ul li {
    margin: 0 15px;
}

.menu ul li a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    border-radius: 5px;
}

.menu ul li a.active {
    background-color: #57a;
    color: white;
}

.menu ul li a:hover {
    background-color: #57a;
    color: white;
}

/* 表单样式 */
#form-container {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#form-container h2 {
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.form-group label {
    flex: 1;
    margin-right: 10px;
    text-align: right;
}

.form-group input {
    flex: 2;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#submit {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

#submit:hover {
    background-color: #45a049;
}