{% extends "base.html" %}
{% block title %}首页{% endblock %}
{% block content %}
    <div id="forum-list">
        <table>
            <thead>
                <tr>
                    <th>主题名称</th>
                    <th>发布人</th>
                    <th>发布时间</th>
                    <th>最新回复时间</th>
                </tr>
            </thead>
            <tbody>
                <td>主题名称</td>
                <td>发布人</td>
                <td>发布时间</td>
                <td>最新回复时间</td>
            </tbody>
        </table>
    </div>
{% endblock %}